@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root{
    /* ===== Colors ===== */
    --main-color: #7750e5;
    --shadow: 0px 0px 2px 0px #e8e8e882;
    --background: white;
    --detail: black;
}
*{
    background-color: #f5f4f6;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* ===== TOP NAVIGATION ===== */
.topnav{
    top:0 ;
    position: relative;
    padding: 10px 40px;
    height: 80px;
    width: 100%;
    background-color: var(--background); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 2px 0px #c6c6c698;
    z-index: 1;
    
}
.topnav .app_logo{
    display: flex;
    justify-content:  flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--background);
}            
.topnav .app_logo img{
    background-color: var(--background);
}            

.topnav .app_logo .Name{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}
.topnav .app_logo .Name .NameProject{
    background-color: var(--background);
    font-size: 15px;    
    font-weight: 700;
    color: var(--main-color);
}
.topnav .app_logo .Name .Direct{
    background-color: var(--background);
    margin-top: -5px;
    font-size: 13px;   
    font-weight: 700;
    color: var(--detail);
}
.topnav .app_logo img{
    width: 50px;
    height: auto;
}

.topnav .right_topnav {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--background);
}

.topnav .right_topnav .btn_share{
    cursor: pointer;
    margin-left: 5px;
    background-color: var(--detail);
    border: none;
    color: var(--background);
    padding: 10px 25px;
    border-radius: 400px;
    text-align:center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    font-weight: 600;
}
.topnav .right_topnav .btn_share:hover{
    background-color: var(--main-color);
    transition: 0.3s;
}
.topnav .mid_topnav{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    box-sizing: border-box;
}
.topnav .mid_topnav .run{
    cursor:  pointer;
    background-color: transparent;
    border: transparent;
    padding: 0px 15px ;
    font-size: 13px;
    font-weight: 500;
}
.topnav .mid_topnav .run:hover{
    cursor:  pointer;
    background-color: transparent;
    border: transparent;
    padding: 0px 15px ;
    font-size: 13px;
    color: var(--main-color);
    font-weight: 500;
}
.topnav li{
    background-color: var(--background);
}





/*_______container________*/
.container {
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    display:flex;
}
/*_______NameBox________*/
.container #Namebox{
    display: none;
    position: fixed;
    bottom: 110px;
    padding:10px 10px;
    left: 50%;
    transform: translateX(-50%);  
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    background-color: rgba(98, 98, 98, 0.374);

}
.container #Namebox label{
    color: var(--background);
    background-color: rgba(98, 98, 98, 0);
    margin:0px 5px;
}
.container #Namebox input{
    border: none;
    border-radius: 100px;
    padding: 5px 10px;
    width: 100px;
}
/*_______LengthBox________*/
.container #Lengthbox{
    display: none;
    position: fixed;
    bottom: 110px;
    padding:10px 10px;
    left: 50%;
    transform: translateX(-50%);    
    background-color: rgba(78, 78, 78, 0.403);
    box-shadow: 0px 0px 2px 0px #e8e8e882;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.container #Lengthbox label{
    color: var(--background);
    background-color: rgba(255, 255, 255, 0);
    margin:0px 5px;
}
.container #Lengthbox input{
    border: none;
    border-radius: 100px;
    padding: 5px 10px;
    width: 100px;

}
/*_______Run_Algorithm_______*/
.container .run_algorithm{
    background-color: white; /* Đặt màu trắng */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position:fixed;
    width: 190px;
    height: 160px;
    top: 100px;
    right: 0;
    margin-right: 20px;
    border-radius: 20px;
    display: none;
    flex-direction: column;
}
.container .run_algorithm .container_run{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: transparent;
    margin: 8px 0px 0px 20px;
}
.container .run_algorithm .Tilte{
    background-color: white;
   color: var(--main-color);
   font-size: 20px;
   font-weight: 700;
   margin:10px 0px 0px 20px;
   background-color: transparent;
}
.container .run_algorithm .container_run li{
    font-size: 15px;
    margin-top: 4px;
    background-color: transparent;
 }
 .container .run_algorithm .container_run select{
    font-size: 15px;
    border-color: var(--main-color);
    width: 90px;
    border-width: 1.2px;
    background-color: white;
    margin-left: 5px;
    border-radius: 1000px;
    padding: 0px 5px;
 }
 .container .run_algorithm #Run{
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 4px;
    background-color: transparent;
    height: 30px;
    border-color: var(--main-color);
    width: 80px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 1000px;
    align-self: flex-end; 
}
.container .run_algorithm #Run i{
    background-color: transparent;
}

.container .run_algorithm #Run:hover{
    font-size: 15px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    margin-top: 4px;
    background-color: var(--main-color);
    height: 30px;
    border-color: transparent;
    width: 80px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 1000px;
    align-self: flex-end; 
}
/*_______Show_Run_Algorithm_______*/
.container #showAlgorithm{
    background-color: white; /* Đặt màu trắng */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position:fixed;
    width: 350px;
    height: auto;
    padding: 0px 0px 20px 0px;
    top: 280px;
    right: 0;
    margin-right: 20px;
    border-radius: 20px;
    display: none;
    flex-direction: column;
}
.container #showAlgorithm #titleShowAlgorithm{
    margin: 0px 0px 0px 20px;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 600;
    background-color: transparent;
}
.container #showAlgorithm  #closeShowAlgorithm{
    height: 25px;
    cursor: pointer;
    width: 25px;
    border: none;
    margin: 5px 10px 0px 0px;
    background-color: transparent;
    color: black;
    align-self:flex-end;
    top:0;
    font-size: 25px;
}
.container #showAlgorithm  #closeShowAlgorithm i{
    background-color: transparent;
}
.container #showAlgorithm  #closeShowAlgorithm:hover{
    height: 25px;
    cursor: pointer;
    width: 25px;
    border: none;
    margin: 5px 10px 0px 0px;
    background-color: transparent;
    color: var(--main-color);
    align-self:flex-end;
    top:0;
    font-size: 25px;
}
.container #showAlgorithm ul{
    margin: 10px 0px 0px 20px;
    list-style: none;
    width: 300px;
    background-color: transparent;
}
.container #showAlgorithm li{
    background-color: transparent;
    font-size: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.container #showAlgorithm li:hover{
    background-color: transparent;
    font-size: 15px;
    margin-top: 10px;
    color: var(--main-color);
    cursor: pointer;
}
/*_______TOOL BAR________*/

.container .toolbar {
    position: fixed;
    bottom: 0;
    left:50%;transform: translateX(-50%); 
    background-color: var(--background);
    box-shadow: 0px 0px 2px 0px #e8e8e882;
    padding: 10px;
    width: 200px;
    list-style: none; 
    display: flex; 
    justify-content: center; 
    margin-bottom: 30px;
    border-radius: 100px;
}

.container .toolbar li{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--background);
    box-shadow: none;
    background-color: var(--background);
}
.container .toolbar i{
    padding: 8px;
    border-radius: 50%;
    font-size: 25px;
    margin: 0px 10px;
    background-color: var(--background);
    color: grey;
    transition: 0.3s;
    display: flex;
    align-items:center;
    justify-content: center;
}
.container .toolbar i:hover{
    padding: 8px;
    font-size: 25px;
    margin: 0px 10px;
    background-color: #7850e52a;
    color: var(--main-color);
}
.container .toolbar #mode:hover{
    padding: 8px;
    font-size: 25px;
    margin: 0px 10px;
    background-color: var(--background);
    color: var(--main-color);
}
.container .toolbar #mode{
    color: var(--background);
    background-color:var(--main-color);
}

.container .toolbar .active {
    background-color: var(--main-color);
    color: var(--background);
}
